@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo ao Web Livros MVC</h1>
    <p>Para acessar a página com os livros cadastrados, clique no link Lista de Livros. Ele está presente na barra de navegação superior.</p>
</div>
